/*

These are options for formatting the lead font to 
1. lead-small: Provide a small version of the font 
2. lead-mormal: Provide a thicker version of the default-size font

-Ansel

*/

.lead-small {
   margin-bottom: 20px;
   font-size: 14px;
   font-weight: 300;
   line-height: 1.4;
}
@media (min-width: 768px) {
   .lead-small {
      font-size: 18px;
   }
}
.lead-normal {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}
@media (min-width: 768px) {
  .lead-normal {
    font-size: 21px;
  }
}
