/*

This is a quick hack to make the module READMEs look better when converted to HTML.
1. Fix the header size
2. Center the images

-Ansel

*/

h1, h2, h3, h4, h5, h6 {
   padding-bottom: 9px;
   margin: 40px 0 20px;
   border-bottom: 1px solid #eee;
   font-weight: normal;
}
strong {
   font-weight: normal;
}
/*p, div {
   .lead;
}*/
img {
   margin-left: auto;
   margin-right: auto;
   display: block;
   max-width: 100%;
   height: auto;
}

