---
layout: default
title: User Guide
category: docs
permalink: /docs/manual/
sections: 
 - intro
 - overview
 - dynamic_clamp
 - features
 - hardware
 - rt_performance
 - menus
 - core_modules
 - user_modules
 - making_modules
 - data_acquisition
 - utilities
---

<body class="container" data-spy="scroll" data-target="#toc" data-offset="0">

	<div class="container"><div class="row">
		<nav class="col-sm-2" id="toc">
			<ul class="nav nav-pills nav-stacked">
				{% if section == "intro" %}
				<li class="active"><a href="#{{ section }}">{{section}}</a></li>
				{% else %}
				<li><a href="#{{ section }}">{{section}}</a></li>
				{% endif %}
			</ul>
		</nav>

		<div class="col-sm-10">
			<h2 class="page-header">{{ page.title }}</h2>

			{% for section in page.sections %}
				<div id="{{ section }}">{% include manual/{{ section }}.html %}</div>
			{% endfor %}
	<!--
			{% include manual/intro.html %}
			{% include manual/overview.html %}
			{% include manual/dynamic_clamp.html %}
			{% include manual/features.html %}
			{% include manual/hardware.html %}
			{% include manual/rt_performance.html %}
			{% include manual/menus.html %}
			{% include manual/core_modules.html %}
			{% include manual/user_modules.html %}
			{% include manual/making_modules.html %}
			{% include manual/data_acquisition.html %}
			{% include manual/utilities.html %}
	-->
		</div>

	</div></div>

</body>
