---
layout: default
title: User Guide
category: docs
permalink: /docs/manual/
---

<div class="container">
	<h2 class="page-header">{{ page.title }}</h2>

	{% include manual/intro.html %}
	{% include manual/overview.html %}
	{% include manual/dynamic_clamp.html %}
	{% include manual/features.html %}
	{% include manual/hardware.html %}
	{% include manual/rt_performance.html %}
	{% include manual/menus.html %}
	{% include manual/core_modules.html %}
	{% include manual/user_modules.html %}
	{% include manual/making_modules.html %}
	{% include manual/data_acquisition.html %}
	{% include manual/utilities.html %}

</div>
