---
title: Contact
layout: default
permalink: /contact/
tag_content: "Check us out on GitHub. There, you can submit issues, report bugs, request features, etc. within a open forum. You'll need a free GitHub account.If you need help doing so, see our instructions on submitting issues to GitHub."

extra_css: "
<style>
img {
	width: 100%;
	height: auto;
}
</style>
"
---

<div class="container">
   <h2 class="page-header">Contact</h2>
<!--
   <div class="jumbotron">
      <img src="{{ site.img }}/rtxi-world-usage-2.svg" class="img-rounded" style="width:100%;">
      <br></br>
      <p>RTXI has been used in over 60 labs all around the world. If you want to use it, too, you should find all you need to know right here.</p>
      <p>If you have any questions, contact us. We help you get set up, and if you'd like, we'll even come to you!</p>
   </div>
-->
</div>

<div class="container">
   <div class="col-sm-12 jumbotron">
      <h3><center><a href="https://github.com/rtxi">GitHub</a></center></h3>
      <p>Check us out on GitHub. There, you can submit issues, report bugs, request features, etc. within a open forum. You'll need a free GitHub account.  
		</p>
		<p>If you need help doing so, see our <a href="/docs/troubleshoot/2015/04/09/posting-bugs-and-issues/">instructions on submitting issues</a> to GitHub. </p>
   </div>
</div>


<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="" style="text-align:center">Join the Mailing List</h3>
		</div>

		<div class="panel-body"><div class="row"><div class="col-xs-12 col-lg-10 col-lg-offset-1">
<!-- Begin MailChimp Signup Form -->
	<link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
	<!--
	<style type="text/css">
		#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
		/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
			 We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
	</style>
	-->
	<div id="mc_embed_signup">
		<form action="//rtxi.us4.list-manage.com/subscribe/post?u=7f5e888a63cfcebd39fc2fe19&amp;id=250e514da5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			<div id="mc_embed_signup_scroll">
				<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
					<div class="col-sm-6">
						<div class="mc-field-group">
							<label for="mce-FNAME">First Name  <span class="asterisk">*</span></label>
							<input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
						</div>
					</div>
					<div class="col-sm-6">
						<div class="mc-field-group">
							<label for="mce-LNAME">Last Name  <span class="asterisk">*</span></label>
							<input type="text" value="" name="LNAME" class="required" id="mce-LNAME">
						</div>
					</div>
					<div class="col-sm-6">
						<div class="mc-field-group">
							<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span></label>
							<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
						</div>
					</div>
					<div class="col-sm-6">
						<div class="mc-field-group">
							<label for="mce-MMERGE3">Institution </label>
							<input type="text" value="" name="MMERGE3" class="" id="mce-MMERGE3">
						</div>
					</div>
				<div class="mc-field-group input-group">
					<div class="col-sm-3"><strong>Additional Info </strong></div>
					<div class="form-group col-sm-9">
						<div class="col-xs-12"><label class="radio-inline"><input type="radio" value="1" name="group[17637]" id="mce-group[17637]-17637-0"><label for="mce-group[17637]-17637-0">PI</label></label></div>
						<div class="col-xs-12"><label class="radio-inline"><input type="radio" value="2" name="group[17637]" id="mce-group[17637]-17637-1"><label for="mce-group[17637]-17637-1">Student</label></label></div>
						<div class="col-xs-12"><label class="radio-inline"><input type="radio" value="4" name="group[17637]" id="mce-group[17637]-17637-2"><label for="mce-group[17637]-17637-2">Other</label></label></div>
					</div>
<!--					
					<ul>
						<li><input type="radio" value="1" name="group[17637]" id="mce-group[17637]-17637-0"><label for="mce-group[17637]-17637-0">PI</label></li>
						<li><input type="radio" value="2" name="group[17637]" id="mce-group[17637]-17637-1"><label for="mce-group[17637]-17637-1">Student</label></li>
						<li><input type="radio" value="4" name="group[17637]" id="mce-group[17637]-17637-2"><label for="mce-group[17637]-17637-2">Other</label></li>
					</ul>
-->
				</div>
				<div id="mce-responses" class="clear">
					<div class="response" id="mce-error-response" style="display:none"></div>
					<div class="response" id="mce-success-response" style="display:none"></div>
				</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				<div style="position: absolute; left: -5000px;"><input type="text" name="b_7f5e888a63cfcebd39fc2fe19_250e514da5" tabindex="-1" value=""></div>
				<div class="clear" style="text-align:center"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
			</div>
		</form>
	</div></div></div>
	</div>
	<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[0]='EMAIL';ftypes[0]='email';fnames[3]='MMERGE3';ftypes[3]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
	<!--End mc_embed_signup-->

	</div>
</div>

<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="" style="text-align:center">About Us</h3>
		</div>

		<div class="panel-body"><div class="row">

				<!-- add all the faces of our delightful pis here. -->
			<div class="col-sm-6 col-md-6">
				<h4>Primary Investigators</h4>
				{% for pi in site.pis %}
					<a href="{{ pi.url }}" class="thumbnail" style="color:inherit">
						<div class="row" style="display:flex;align-items:center;justify-content:center">
							<div class="col-xs-4 col-lg-3">
								<img class="img-responsive" src="{{ site.img }}/{{ pi.face }}">
							</div>
							<div class="col-xs-8 col-lg-9">
								<div><b>{{ pi.name }}</b><br>{{ pi.where }}</div>
							</div>
						</div>
					</a>
				{% endfor %}
			</div>
				
			<div class="col-sm-6 col-md-6">
				<h4>Current Developers</h4>
				{% for supahacka in site.developers %}
					<a href="{{ supahacka.url }}" class="thumbnail" style="color:inherit">
						<div class="row" style="display:flex;align-items:center;justify-content:center">
							<div class="col-xs-4 col-lg-3">
								<img class="img-responsive" src="{{ site.img }}/{{ supahacka.face }}">
							</div>
							<div class="col-xs-8 col-lg-9">
								<div><b>{{ supahacka.name }}</b><br>{{ supahacka.where }}</div>
							</div>
						</div>
					</a>
				{% endfor %}
			</div>
	
		</div></div>

	</div>
</div>
