---
title: Contact
layout: default
permalink: /contact/
tag_content: "Get in touch with the RTXI development team."

extra_css: "
<style>
img {
  width: 100%;
  height: auto;
}
</style>
"
---

<div class="container">
   <h2 class="page-header">Contact</h2>

   <div class="col-sm-12 jumbotron">
      <h3><center><a href="https://github.com/rtxi">GitHub</a></center></h3>
      <p>Check us out on GitHub. There, you can submit issues, report bugs,
      request features, etc. within a open forum. You'll need a free GitHub
      account.  
    </p>
    <p>If you need help doing so, see our 
      <a href="/docs/troubleshoot/2015/04/09/posting-bugs-and-issues/">
      instructions on submitting issues</a> to GitHub. 
    </p>
   </div>
</div>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="" style="text-align:center">About Us</h3>
    </div>

    <div class="panel-body"><div class="row">

        <!-- add all the faces of our delightful pis here. -->
      <!--<div class="col-sm-6 col-md-6">
        <h4>Primary Investigators</h4>
        {% for pi in site.pis %}
          <a href="{{ pi.url }}" class="thumbnail" style="color:inherit">
            <div class="row" 
                 style="display:flex;align-items:center;justify-content:center">
              <div class="col-xs-4 col-lg-3">
                <img class="img-responsive" src="{{ site.img }}/{{ pi.face }}">
              </div>
              <div class="col-xs-8 col-lg-9">
                <div><b>{{ pi.name }}</b><br>{{ pi.where }}</div>
              </div>
            </div>
          </a>
        {% endfor %}
      </div>-->
        
      <div class="col-sm-6 col-md-6">
        <h4>Current Developers</h4>
        {% for supahacka in site.developers %}
          <a href="{{ supahacka.url }}" class="thumbnail" style="color:inherit">
            <div class="row" 
                 style="display:flex;align-items:center;justify-content:center">
              <div class="col-xs-4 col-lg-3">
                <img class="img-responsive" src="{{ site.img }}/{{ supahacka.face }}">
              </div>
              <div class="col-xs-8 col-lg-9">
                <div><b>{{ supahacka.name }}</b><br>{{ supahacka.where }}</div>
              </div>
            </div>
          </a>
        {% endfor %}
      </div>
  
    </div></div>

  </div>
</div>
