<link href="css/carousel.css" rel="stylesheet">

<!-- Carousel -->
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-pause="hover">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
<!--    <li data-target="#myCarousel" data-slide-to="2"></li> -->
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
<!--      <img src="image/rtxi-banner.png" alt="RTXI Banner"> -->
      <div class="container">
        <div class="carousel-caption">
          <h1>Welcome to the new RTXI website!</h1>
          <p>Look here for all RTXI documentation and installation files.</p>
        </div>
      </div>
    </div>
    <div class="item"><a href="/conference/">
      <div class="container">
        <img src="/images/rtxi-2015-white.svg" class="img-responsive center-block" style="margin-top:20px"></img>
        <div class="carousel-caption">
          <p>Click here for information on our upcoming RTXI conference.</p>
        </div>
      </div>
    </a></div>
<!--    <div class="item">
      <div class="container">
        <div class="carousel-caption">
          <h1>One more for good measure.</h1>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </div>
      </div>
    </div>
-->
  </div>
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div> <!-- /.carousel -->
