<style>
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  margin-top: 10px;
}
.footer {
  position: absolute;
  top: 100%;
  bottom: auto;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: -60px;
  background-color: #c1c1c1;
}
</style>

<div class="footer">
   <div class="container">
      <div class="row">
         <div class="col-sm-6 text-center" style="margin-top:50px; margin-bottom:10px">
            <a href="http://www.nih.gov/">
               <img class="img-responsive" src="/assets/img/nih-logo-trans.svg"></img>
            </a>
         </div>
         <div class="col-sm-6 text-center" style="margin-top:50px;">
            <a href="https://github.com/rtxi">
               <img class="img-responsive" src="/assets/img/github-logo.svg"></img>
            </a>
         </div>
      </div>

      <div class="row">
         <h3 class="page-header text-center">Check out these open source projects:</h3>
         <div class="col-sm-3">
         </div>
         <div class="col-sm-3">
         </div>
         <div class="col-sm-3">
         </div>
      </div>
   </div>
</div>
