<style>
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  margin-top: 10px;
}
.footer {
  position: absolute;
  top: 100%;
  bottom: auto;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: -60px;
  background-color: #c1c1c1;
}
</style>

<div class="footer">
   <div class="container text-center" style="margin-top:20px;">
      <p class="lead-small">RTXI is funded by NIH grant R01-RR020115.</p>
   </div>
</div>
