---
title: Papers
layout: default
extra_js: "
   <script src='/assets/js/isotope.pkgd.min.js'></script>

   <script>
   $( function () {
		var qsRegex;
  
      var $container = $('#oopsgrid').isotope({
         itemSelector: '.item',
         layoutMode: 'masonry',
/*
         filter: 'rate'
*/
			filter: function() {
				return qsRegex ? $(this).text().match( qsRegex ) : true;
			}
      });

		var $quicksearch = $('#quicksearch').keyup( debounce( function() {
			qsRegex = new RegExp( $quicksearch.val(), 'gi' );
			$container.isotope({
				filter: function() {
					return qsRegex ? $(this).text().match( qsRegex ) : true;
				}
			});
			$('.btn-group').each( function( i, buttonGroup ) {
				var $buttonGroup = $( buttonGroup );
				$buttonGroup.find('.active').removeClass('active');
				$buttonGroup.find('.all-papers').addClass('active');
			});
		}, 300 ) );

      $('#oopsfilters').on( 'click', 'button', function() {
         var filterValue = $(this).attr('data-filter');
			$('#quicksearch').val('');
         $container.isotope({ filter: filterValue });
      });

      $('.btn-group').each( function( i, buttonGroup ) {
         var $buttonGroup = $( buttonGroup );
         $buttonGroup.on( 'click', 'button', function() {
            $buttonGroup.find('.active').removeClass('active');
            $( this ).addClass('active');
         });
      });
   });

	function debounce( fn, threshold ) {
		var timeout;
		return function debounced() {
			if ( timeout ) {
				clearTimeout( timeout );
			}
			function delayed() {
				fn();
				timeout = null;
			}
			timeout = setTimeout( delayed, threshold || 100 );
		}
	}
   </script>
"
---

<div class="container">
   <h2 class="page-header">Papers</h2>
   <p>If your use of RTXI leads to publication, please cite RTXI in your paper. We get our funding from the NIH, and citations will help when our grant renewal comes around. Cite: </p>
   <div class="well">Lin et al. Real-time Experiment Interface for biological control applications. Conf Proc IEEE Eng Med Biol Soc (2010) vol. 1 pp. 4160-3</div>
   
   <p>Below is our list of papers that cite RTXI. We're always on the lookout for new research, but we'd love to hear from you if you've got something in the works.</p>
</div>

<div>&nbsp;</div>
<div class="container">
	<p><input type="text" id="quicksearch" placeholder="Search all papers" style="width:100%" /></p>
</div>

{% capture chunkvar %}{% increment chunkcount %}{% endcapture %}
{% assign flag="false" %}
<div class="container"><div id="oopsfilters" class="btn-group btn-group-justified" role="group" data-toggle="buttons">
   <div class="btn-group" role="group">
      <button type="button" class="btn btn-danger btn active all-papers" data-filter="*" role="button" data-toggle="button" aria-pressed="true">All</button>
   </div>
   {% for post in site.categories.papers %} 
      {% capture chunkflag %}{{ forloop.index | modulo:15 }}{% endcapture %}
      {% if chunkflag == "0"%}
         {% assign flag = "true" %}
      {% endif %}

      {% capture thisyear %}{{ post.date | date: '%y' }}{% endcapture %}
      {% if forloop.index == 1 %}
         {% capture chunkvar %}{% increment chunkcount %}{% endcapture %}
         {% capture startyear %}{{ thisyear }}{% endcapture %}
      {% elsif thisyear != lastyear  and  flag == "true" %}
      <div class="btn-group" role="group">
         <button type="button" class="btn btn-danger btn" data-filter=".chunk{{ chunkvar}}" role="button" data-toggle="button">'{{ lastyear }}-{{startyear}}</button>
      </div>
         {% assign flag == "false" %}
         {% capture startyear %}{{ thisyear }}{% endcapture %}
         {% capture chunkvar %}{% increment chunkcount %}{% endcapture %}
      {% endif %}
      {% capture lastyear %}{{ thisyear }}{% endcapture %}
   {% endfor %}
   <div class="btn-group" role="group">
      <button type="button" class="btn btn-danger btn" data-filter=".chunk{{ chunkvar}}" role="button" data-toggle="button">'{{ lastyear }}-{{startyear}}</button>
   </div>
</div></div>
<div style="border-bottom: 1px solid #eee; margin-bottom: 10px;" class="container">&nbsp;</div>

{% capture chunkvar %}{% increment chunkbodycount %}{% endcapture %}
{% assign flag = "false" %}
<div class="container"><div class="row isotope" id="oopsgrid">
   {% for post in site.categories.papers %}
      {% capture chunkflag %}{{ forloop.index | modulo:15 }}{% endcapture %}
      {% capture thisyear %}{{ post.date | date: '%y' }}{% endcapture %}
      {% if chunkflag == "0" %}
         {% assign flag = "true" %}
      {% endif %}

      {% if forloop.index == 1 %}
         {% capture chunkvar %}{% increment chunkbodycount %}{% endcapture %}
      {% elsif thisyear != lastyear  and  flag == "true" %}
         {% capture chunkvar %}{% increment chunkbodycount %}{% endcapture %}
         {% assign flag = "false" %}
      {% endif %}
      {% capture lastyear %}{{ thisyear }}{% endcapture %}
   
      <div class="item col-sm-6 col-md-4 chunk{{chunkvar}}" data-category="chunk{{chunkvar}}">
         <a href="{{ post.url }}">
            <div class="panel panel-primary">
               <div class="panel-heading"><h4 class="panel-title">{{ post.title }}</h4></div>
               <div class="panel-body hidden-xs">{{ post.excerpt | truncate:400 }}</div>
            </div>
         </a>
      </div>
   {% endfor %}
</div></div>
