<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <title>{{ page.title }}</title>

      <!-- Bootstrap core CSS -->
      <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
      <link href="/assets/css/bootstrap-theme.min.css" rel="stylesheet">
      <link href="/assets/css/font-awesome.min.css" rel="stylesheet">
      {{ page.extra_css }}

      <!-- Favicons -->
      <link rel="apple-touch-icon" href="/apple-touch-icon.png">
      <link rel="icon" href="/favicon.ico">

   </head>

   {% include navbar.html %}

   <body style=padding-top:30px>
      {{ content }}
   </body>

   {% include footer.html %}

   <script src="/assets/js/jquery.min.js"></script>
   <script src="/assets/js/bootstrap.min.js"></script>

   {{ page.extra_js }}

</html>
