<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <title>{{ page.title }}</title>

      <!-- Bootstrap core CSS -->
      <link href="/assets/css/bootstrap.css" rel="stylesheet">
      <link href="/assets/css/bootstrap-theme.css" rel="stylesheet">
      <link href="/assets/css/pygments.css" rel="stylesheet">
      <link href="/assets/css/octicons.min.css" rel="stylesheet">
      <link href="/assets/css/font-awesome.min.css" rel="stylesheet">
		   
      <!-- Favicons -->
      <link rel="apple-touch-icon" href="/apple-touch-icon.png">
      <link rel="icon" href="/favicon.ico">
   </head>

   <style>
   h1, h2, h3, h4, h5, h6 {
      padding-bottom: 9px;
      margin: 40px 0 20px;
      border-bottom: 1px solid #eee;
      font-weight: normal;
   }
   img {
      margin-left: auto;
      margin-right: auto;
      display: block;
      max-width: 100%;
      height: auto;
   }
   </style>

   {% include navbar.html %}

   <body style="padding-top:30px">
      <div class="container">
          <h3 class="page-header">{{ page.title }}</h3>
            {{ content }}
      </div>
   </body>

   {% include footer.html %}

   <script src="/assets/js/jquery.min.js"></script>
   <script src="/assets/js/bootstrap.min.js"></script>
</html>
